* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background: red;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.verde {
    background: rgb(27, 184, 27);
}
.success {
    background: #43a047 !important;
}
.warning {
    background: #ff0000 !important;
}
/* .jm-logo-container {
    color: blue;
} */